/* 
    Created on : May 2, 2015, 2:45:14 AM
    Author     : Anhuibl <anhuibl.pnv@gmail.com>
*/

.site-logo:hover{
    text-decoration: none;
}
.btn-default > i {
    color: #fff; 
}
.page-404, .page-500 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 125px;
    background: none;
}

.change-avatar {
    position: absolute;
    top: 8px;
    left: 23px;
    font-size: 20px;
    opacity: .3;
    cursor: pointer;
    transition: all;
}

.change-avatar:hover {
    opacity: 1;
}

.sidebar .dropdown-menu > li > a {
    text-overflow: ellipsis;
    overflow: hidden;
}

